<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item>
  <ion-label position="stacked">Nome:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Email:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Celular:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Endereço:</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Cidade:</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-button expand="block">Concluir</ion-button>


</ion-content>
